.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.todo-item .text{
  padding: 16px 16px 16px 60px;
  background: var(--body-color);
  color: var(--dark-grey);
  border: none;
  border-top: 1px solid var(--light-grey);
  outline: none;
  width: 100%;

  transition: color 0.4s;

  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
}
.todo-item .checkbox{
  display: none;
}
.todo-item .checkbox + label{
  width: 30px;
  height: 30px;
  background-color: var(--body-backgroudn-color);
  border-radius: 100%;
  border: 1px solid var(--checkbox-border-color);

  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.todo-item .checkbox + label::after{
  display: none;
  content: "";
  width: 8px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(210deg);
  border-top: 1px solid var(--checkbox-check-color);
  border-left: 1px solid var(--checkbox-check-color);
}
.todo-item .checkbox:checked + label{
  border: 1px solid var(--checkbox-checked-border-color);
}
.todo-item .checkbox:checked + label::after{
  display: block;
}
.todo-item .checkbox:checked ~ .text{
  color: var(--light-grey);
  text-decoration: line-through;
}
.todo-item .btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  opacity: .5;
  transition: opacity 0.2s ease-out;

  display: none;
}
.todo-item:hover .btn{
  display: block;
}
.todo-item .btn:hover{
  opacity: 1;
}
.todo-item .remove-btn{
  background-color: var(--remove-btn-background-color);
  color: var(--remove-btn-color);
  right: 20px;
}
.todo-item .edit-btn{
  background-color: var(--edit-btn-background-color);
  color: var(--edit-btn-color);
  right: 50px;
  font-size: 22px;
}
