.input-block{
  position: relative;
}
.input-field{
  padding: 16px 16px 16px 60px;
  border: none;
  background: #fff;
  color: var(--dark-grey);
  box-shadow: 0 0 4px 4px rgba(141, 141, 141, 0.09);
  outline: none;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
}
.input-field::placeholder{
  color: var(--light-grey);
}
.toggle-all{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  color: var(--light-grey);
  background: none;
  font-size: 24px;
  border: none;
  outline: none;
}
